<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/quizs']"><mat-icon>list</mat-icon></a>
  <button mat-raised-button color="primary" [disabled]="start" (click)="startQuiz(quiz.courseId, quiz._id, true)"><mat-icon>start</mat-icon> Start Quiz</button>
  <button *ngIf="onlineUsers" mat-raised-button color="primary" matBadge="{{onlineUsers.length }}" matBadgePosition="after" matBadgeColor="accent" (click)="getLastActiveUserByCourseId(quiz.courseId)"><mat-icon>refresh</mat-icon> Online Users</button>
</div>
<mat-accordion class="col-md-12">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Quiz Detail
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{quiz.name}}</mat-card-title>
            <mat-card-subtitle>{{quiz.description}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <dl>
              <dt>Quiz Name:</dt>
              <dd>{{quiz.name}}</dd>
              <dt>Description:</dt>
              <dd>{{quiz.description}}</dd>
              <dt *ngIf="quiz.questions && quiz.questions.length > 0">Questions:</dt>
              <dd *ngFor="let question of quiz.questions">
                {{question.name}}
              </dd>
              <dt>Duration:</dt>
              <dd>{{quiz.duration}}</dd>
              <dt *ngIf="quiz.last_played">Last Played:</dt>
              <dd>{{quiz.last_played | date:'dd-mm-yyyy h:mm:ss'}}</dd>
              <dt>Created Date:</dt>
              <dd>{{quiz.created | date}}</dd>
            </dl>
          </mat-card-content>
          <mat-card-actions>
            <a mat-raised-button color="primary" [routerLink]="['/quiz-edit', quiz._id]"><mat-icon>edit</mat-icon></a>
            <a mat-raised-button color="warn" (click)="deleteQuiz(quiz._id)"><mat-icon>delete</mat-icon></a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div class="col">
        <app-quiz></app-quiz>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<!-- {{ quiz.questions | json }} -->
<div class="row" *ngIf="chart">
  <div class="col-md-4" *ngFor="let result of quiz.questions; let index = index">
    <canvas id="{{ result._id }}"></canvas>
  </div>
</div>
<!-- <mat-list>
  <mat-list-item>Total Participants: {{quizResults.length}}</mat-list-item>
  <mat-divider></mat-divider>
</mat-list> -->
<div class="quiz-result-table">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
  
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
        <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
      </ng-container>
  
      <!-- Progress Column -->
      <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Correct Answer </th>
        <td mat-cell *matCellDef="let row"> {{row.progress}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
  
      <!-- Color Column -->
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
        <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color | date:'h:mm:ss' }} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
  