.sidenav-container {
  height: 100%;
}

.app-name {
  padding-top: .1rem;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  line-height: normal;
  .color1 {
    color: orange;
  }
  .color2 {
    color: #008CDB;
    font-size: 1rem;
    font-weight: 400;
  }
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.content {
  min-height: calc(100vh - 136px);
  padding: 15px;
}
.footer {
  //height: 50px;
  position: sticky;
  bottom: 0;
}