<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/questions']"><mat-icon>list</mat-icon></a>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h2>{{question.title}}</h2></mat-card-title>
    <mat-card-subtitle>{{question.description}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>Question:</dt>
      <dd>{{question.question}}</dd>
      <dt>Type:</dt>
      <dd>{{question.type}}</dd>
      <dt>Status:</dt>
      <dd>{{question.status}}</dd>
      <dt>Publish Year:</dt>
      <dd>{{question.created}}</dd>
      <dt>Update Date:</dt>
      <dd>{{question.created | date}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/question-edit', question._id]"><mat-icon>edit</mat-icon></a>
    <a mat-raised-button color="warn" (click)="deleteBook(question._id)"><mat-icon>delete</mat-icon></a>
  </mat-card-actions>
</mat-card>
