<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/questions']"><mat-icon>list</mat-icon></a>
</div>
<form [formGroup]="questionForm" (ngSubmit)="onFormSubmit(questionForm.value)">
  <mat-form-field class="example-full-width">
    <mat-select placeholder="Quiz" formControlName="quiz">
      <mat-option *ngFor="let quiz of quizList" [value]="quiz._id">{{quiz.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Question" formControlName="question">
    <mat-error>
      <span *ngIf="!questionForm.get('question').valid && questionForm.get('question').touched">Please enter Question</span>
    </mat-error>
  </mat-form-field>
  <div formArrayName="choices">
      <div *ngFor="let choice of choiceForms.controls; let i=index" [formGroupName]="i">
          <mat-form-field class="example-full-width">
              <input  matInput placeholder="Choice" formControlName="name">
              <mat-checkbox matSuffix formControlName="isAnswer">Right Answer? </mat-checkbox>
              <button matSuffix mat-icon-button color="warn" (click)="deleteChoice(i)">
                <mat-icon aria-label="Delete mat-option">delete</mat-icon>
              </button>
          </mat-form-field>
          
      </div>
  </div>

  <div class="button-row">
    <button mat-raised-button color="primary" (click)="addChoice()"><mat-icon>add</mat-icon> Add Choice</button>
    <button type="submit" [disabled]="!questionForm.valid" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form>
