.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 100%;
  overflow: auto;
}

.button-row {
  margin: 10px 0;
}
.button-row button,
.button-row a {
  margin-right: 12px;
}

.isbn-col {
  flex: 0 0 100px !important;
  white-space: unset !important;
}

.button-row {
  margin: 10px 0;
}

.example-full-width {
  width: 100%;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
